/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =Default Layout
--------------------------------------------- */

html {
	background: #e0e5eb;
	border-top: 3px solid #556270;
}

body {
	color: #556270;
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin: 24px auto;
	width: 768px;
}


a {
	color: #159deb;
	text-decoration: none;
}

	a:hover, a:active {
		text-decoration: underline;
	}
	
.icon {
	margin-right: 6px;
	vertical-align: text-top;
}
	
#masthead {
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	line-height: 48px;
	padding-bottom: 12px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	text-transform: uppercase;
}

#path {
	padding-bottom: 12px;
	text-align: center;
}
	
	#path li:after {
		content: ' /';
		text-shadow: 0 1px 0 #fff;
	}
	
	#path li, #path a {
		display: inline-block;
	}
	
	#path a {
		background: #FF6B6B;
		border: 1px solid #C44D58;
		color: #fff;
		font-weight: bold;
		padding: 3px 12px;
		outline: 0;
		text-shadow: 0 2px 1px rgba(0,0,0,0.2);
		
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		
		box-shadow: inset 0 2px 0 rgba(255,255,255,0.1), inset 0 -2px 0 rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: inset 0 2px 0 rgba(255,255,255,0.1), inset 0 -2px 0 rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,0.1), inset 0 -2px 0 rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.2);
	}
	
		#path a:hover {
			background-color: #ff8484;
			text-decoration: none;
		}
		
		#path a:active {
			background-color: #f34e4e;
			bottom: -1px;
			position: relative;
			text-decoration: none;
			
			box-shadow: inset 0 2px 0 rgba(0,0,0,0.1), 0 1px 0 #fff;
			-moz-box-shadow: inset 0 2px 0 rgba(0,0,0,0.1), 0 1px 0 #fff;
			-webkit-box-shadow: inset 0 2px 0 rgba(0,0,0,0.1), 0 1px 0 #fff;
		}
	
	#path a.root {
		background-image: url(../img/icons/home.png);
		background-position: center center;
		background-repeat: no-repeat;
		text-indent: -9999px;
		min-width: 18px;
	}
	
	#path a.page {
		background-image: url(../img/icons/page.png);
		background-position: 12px center;
		background-repeat: no-repeat;
		text-indent: 18px;
	}
	
#container {
	background: #fff;
	border: 1px solid #b6c2cf;
	margin-bottom: 12px;
	
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#byline {
	padding: 6px 24px;
}	

	#byline p {
		color: #667483;
		font-size: 12px;
		line-height: 18px;
		padding-bottom: 6px;
		text-align: center;
		text-shadow: 0 1px 0 #fff;
	}
	
	#byline a {
		color: #2f3943;
	}
	
#listing {
	min-width: 100%;
	width: 100%;
}
	
	#listing th, #listing td {
		padding: 12px 24px 9px;
	}

		#listing th {
			font-size: 14px;
			font-weight: bold;
			text-align: left;
			text-transform: uppercase;
		}
	
	#listing thead tr {
		border-bottom: 1px solid #E0E5EB;
	}
	
	#listing tbody tr {
		border-bottom: 1px dotted #E0E5EB;
	}
	
	#listing .size, #listing .modified {
		white-space: nowrap;
	}
	
#meta {
	text-align: center;
}
	#meta p {
		background: #e9eef3;
		display: inline-block;
		font-size: 12px;
		line-height: 18px;
		margin: 12px;
		padding: 6px 12px;
		text-align: center;
		
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
	
#page {
	padding: 12px 24px 24px;
}

	#page ul, #page ol, #page dl,
	#page p,
	#page blockquote, #page pre,
	#page table {
		margin-bottom: 24px;
	}
	
	#page h1, #page h2, #page h3, #page h4,
	#page dd,
	#page caption {
		margin-bottom: 12px;
	}
	
	#page h1, #page h2, #page h3, #page h4, #page h5, #page h6,
	#page dt,
	#page caption, #page th {
		font-weight: bold;
	}
	
	#page h1 {
		font-size: 36px;
		line-height: 48px;
	}
	
	#page h2 {
		font-size: 28px;
		line-height: 40px;
	}
	
	#page h3 {
		font-size: 22px;
		line-height: 34px;
	}
	
	#page h4 {
		font-size: 18px;
		line-height: 30px;
	}
	
	#page h6 {
		font-size: 13px;
		text-transform: uppercase;
	}
	
	#page ul, #page ol {
		margin-left: 24px;
	}
	
	#page ul {
		list-style-type: square;
	}
	
	#page ol {
		list-style-type: decimal;
	}
	
	#page strong, #page b,
	#page caption {
		font-weight: bold;
	}
	
	#page em, #page i, #page cite {
		font-style: italic;
	}
	
	#page cite, #page del {
		color: #9AA2AD;
	}
	
	#page ins {
		color: #EA2A5D;
		text-decoration: none;
	}
	
	#page code, #page kbd, #page samp, #page var {
		font-family: 'Droid Sans Mono', monospace;
	}
	
	#page blockquote {
		border-left: 3px solid #E0E5EB;
		padding-left: 24px;
	}
		#page blockquote :last-child {
			margin-bottom: 0;
		}
		
	#page abbr {
		border-bottom: 1px dotted #b6c2cf;
	}
	
	#page small, #page sup, #page sub {
		font-size: 13px;
	}
	
	#page sup {
		vertical-align: super;
	}
	
	#page sub {
		vertical-align: sub;
	}
	
	#page mark {
		background-color: #F7FFA8;
	}
	
	#page pre {
		white-space: pre-wrap;
		word-wrap: break-word;
	}
	
	#page table, #page caption {
		text-align: left;
	}
	
	#page table {
		border-top: 2px solid #E0E5EB;
		min-width: 100%;
		width: 100%;
	}
	
	#page th, #page td {
		padding: 12px 12px 12px 0;
	}
	
	#page th {
		font-size: 14px;
		text-transform: uppercase;
	}
	
	#page tr {
		border-bottom: 1px dotted #E0E5EB;
	}

#page-nav {
	font-size: 14px;
	margin: 24px 24px 12px;
}
	
#page-nav li {
	display: inline-block;
	margin-right: 24px;
}

#error {
	margin: 24px;
	text-align: center;
}
	
	
/* Almost Small Layout (768-816px)
--------------------------------------------- */

@media only screen and (max-width: 815px) {
	
	body {
		width: 100%;
	}
	
	#container {
		border-left-width: 0;
		border-right-width: 0;
		
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	
}

/* Small Layout (768-816px)
--------------------------------------------- */

@media only screen and (max-width: 767px) {
	
	body {
		margin: 12px 0;
	}
	
	#masthead {
		font-size: 24px;
		line-height: 36px;
	}
	
	#listing thead, #listing .size, #listing .modified {
		display: none;
	}
	
	#listing .name {
		min-width: 100%;
		padding: 12px 0 9px;
		width: 100%;
	}
		#listing .name .icon {
			margin-left: 12px;
		}
		#listing .name a {
			margin-right: 12px;
		}
	
}